@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari&display=swap');
*{
    padding: 0;
    margin: 0;
    background-color: #eaeaea;
    font-family: 'Anek Devanagari', sans-serif;
}